<br>

  <h1>Welcome to Blocipedia!</h1>
  <h2>Social, Markdown Wikis</h2>



  <div class="jumbotron">
    <h2>Create and share Markdown Wikis!</h2>
    <p>
     <%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link' 'btn btn-primary' %> now!
    </p>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h3>Create as many public wikis as you want!</h3>
      <p>Free Plan</p>
    </div>

    <div class="col-md-4">
      <h3>Create private wikis!</h3>
      <p>Premium Plan</p>
  </div>
