<h1>New Wiki</h1>

<div class="row">
  <div class="col-md-4">
    <p>Guidelines for wikis</p>
    <ul>
      <li>Create you wikis for people like for yourself</li>
      <li>Respect individuals</li>
      <li>Respect the knowledge</li>
      <li>Respect the world</li>
    </ul>
  </div>

  <h3>Now You can use Markdown to edit the wiki.</h3>
  <p><a href "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Few hints how to use it are here.</a></p>

  <div class="col-md-4">
    <%= render partial: 'form', locals: { wiki: @wiki } %>
  </div>

</div>
